<h3>New Descriptive Statistics Calculation</h3>
<form action="/descriptive_statistics/results">

  <label for="list_of_numbers">Numbers</label>
  <textarea name="list_of_numbers" placeholder="Enter your numbers (separated by spaces)" id="list_of_numbers"></textarea>

  <button type="submit">Submit</button>


</form>
