<h3>New Loan Payment Calculation</h3>
<form action="/loan_payment/results"  >

    <label for="annual_percentage_rate" >APR</label>
      <input name="annual_percentage_rate" type="number" step="any"  id="annual_percentage_rate" placeholder="Enter the APR of the loan (as a percent)">

    <label for="number_of_years">Years</label>
      <input name="number_of_years" type="number" min="1" id="number_of_years" placeholder="Enter the number of years to repay the loan">

    <label for="principal_value">Principal</label>
      <input name="principal_value" type="number" min="1" id="principal_value" placeholder="Enter the principal of the loan">

  <button type="submit">Submit</button>

</form>
