<h3>New Word Count Calculation</h3>
<form action="/word_count/results" class="form-horizontal">

  <label for="user_text">Text</label>
  <textarea name="user_text" placeholder="Enter your text" id="user_text"></textarea>


  <label for="user_word" >Special Word (optional)</label>
  <input name="user_word" type="name" id="user_word" placeholder="Enter a word to count the occurrences of">

  <button type="submit">Submit</button>

</form>

